export NHOUND_NOTION_ADMIN_EMAIL=""
export NHOUND_NOTION_ADMIN_NAME=""
export NHOUND_NOTION_TOKEN="secret_"
export NHOUND_PAGES_ARE_STALE_AFTER_X_WEEKS=13
export NHOUND_PAGES_UUIDS=[""]
export NHOUND_SMTP_EMAIL_SENDER=""
export NHOUND_SMTP_EMAIL_SUBJECT="Notion page(s) are stale"
export NHOUND_SMTP_HOST="localhost"
export NHOUND_SMTP_PORT=1025
export NHOUND_SMTP_USE_STARTTLS=false
